# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# Logs
/var/log/malscanner/

# Compiled YARA (if any)
*.yarc

# OS junk
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Samples (Security sensitive)
tests/payloads/malicious/
